.Rproj.user
.Rhistory
.RData
.Ruserdata

*.o
*.dll

R/for_developer.R

/*.cpp
tests/testthat/*.cpp

vignettes/*.cpp
vignettes/*.csv

tools/data/*
tools/Data/*
/doc/
/Meta/
docs
.positai

FEpar.csv

tools/**.RDS
tools/**.csv
tools/**.rds
tools/**.rds
tools/**.RData

