.Rproj.user
.Rhistory
.RData
.Ruserdata

*.o
*.dll

R/for_developer.R

/*.cpp
tests/testthat/*.cpp

vignettes/*.cpp
vignettes/*.csv

tools/data/*
tools/Data/*
/doc/
/Meta/
docs
.positai

tools/TMI/*
tools/sawara/*
tools/PMI/*

FEpar.csv

tools/**/*.RDS
tools/**/*.csv
tools/**/*.CSV
tools/**/*.rds
tools/**/*.RData
tools/**/*.rda
tools/**/*.cpp

res_sam.Rmd
Rplots.pdf

vignettes/*_files